.a-content
  %h2 Tools and languages
  - if hackroom.primary_languages.any?
    %h3 Primary
    .a-tags
      - hackroom.primary_languages.each do |language|
        = render partial: 'shared/language_tag', locals: { language: language }

  - if hackroom.languages.any?
    %h3 Secondary
    .a-tags
      - hackroom.languages.each do |language|
        = render partial: 'shared/language_tag', locals: { language: language }
