%section.a-section
  .a-content
    - if hackroom.primary_languages.any?
      %h3 Primary languages
      .a-tags
        - hackroom.primary_languages.each do |language|
          = render partial: 'shared/language_tag', locals: { language: language }

    - if hackroom.languages.any?
      %h3 Secondary languages
      .a-tags
        - hackroom.languages.each do |language|
          = render partial: 'shared/language_tag', locals: { language: language }
