.a-social-links
  - unless hackroom.project_url.empty?
    = link_to hackroom.project_url, target: '_blank' do
      %i.fa.fa-link
  - unless hackroom.slack.empty?
    = link_to "https://westlondoncoders.slack.com/messages/#{hackroom.slack}", target: '_blank' do
      %i.fa.fa-slack
