.m-profile__nav
  %h2
    = link_to 'Projects', @hackroom
    - if selected == 'projects'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Languages', languages_hackroom_path(@hackroom)
    - if selected == 'languages'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Members', members_hackroom_path(@hackroom)
    - if selected == 'members'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Discussion', discussion_hackroom_path(@hackroom)
    - if selected == 'discussion'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
