- set_page_title(@hackroom.name)
.m-profile
  = render partial: 'sidebar'

  .m-profile__content
    = render partial: 'nav', locals: { selected: 'discussion' }

    .m-profile__current-content
      = render partial: 'shared/comments', locals: { commentable: @hackroom }
