- set_page_title("Hackrooms")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--xwide.a-content--tight

      %h1.a-heading.u-center#hackroom-search-heading= render 'heading'

    .a-content.a-content--tight-bottom
      %p= I18n.t('index_introductions.hackrooms')

      = render partial: 'filter'

  %section.a-section#hackroom-search-results= render 'results'
