- set_page_title("Hackrooms")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--xwide.a-content--tight

      %h1.u-center
        #hackroom-search-heading
          = render 'heading'

      .a-content
        %p
          Hackrooms are a way to bring together people with shared interests or goals. It could be a group of beginners learning HTML, or some Pythonists building an app, or both of those things.

        = render partial: 'filter'

  %section.a-section
    .a-content--xwide
      #hackroom-search-results
        = render 'results'
