- set_page_title("Hackrooms")

.m-banner
  .m-banner__left{style: "background-image: url(#{image_url('heroes/medium/background3.jpg')}); background-size: cover; background-position: center;"}
  .m-banner__right
    .m-banner__text
      %h1.a-heading.u-center Hackrooms
      %p= I18n.t('index_introductions.hackrooms').html_safe

%section.a-section.a-section--alt
  .a-content--xwide#hackroom-search-results= render 'results'
