- set_page_title("Hackrooms")

.a-page-holder

  %section.a-section.a-section--separated
    .a-content.a-content--tight.u-margin-bottom

      %h1.a-heading.u-center Hackrooms
      %p= I18n.t('index_introductions.hackrooms').html_safe

  %section.a-section.a-section--alt
    .a-content--xwide#hackroom-search-results= render 'results'
