%h2 Upcoming

- if upcoming_events.any?
  %table.m-admin-table.u-margin-top
    %thead
      %tr
        %th{style: 'width: 20%'}
          Name
        %th{style: 'width: 5%'}
          RSVPs
        %th{style: 'width: 20%'}
          Date
        %th{style: 'width: 20%'}
          Venue
        %th{style: 'width: 5%'}
    %tbody
      - upcoming_events.each do |event|
        = render partial: 'event_row', locals: { event: event }
- else
  %p No events scheduled
%br
%h2 Past
- if past_events.any?
  %table.m-admin-table.u-margin-top
    %thead
      %tr
        %td{style: 'width: 20%'}
          Name
        %td{style: 'width: 5%'}
          RSVPs
        %td{style: 'width: 20%'}
          Date
        %td{style: 'width: 20%'}
          Venue
        %th{style: 'width: 5%'}
    %tbody
      - past_events.each do |event|
        = render partial: 'event_row', locals: { event: event }
- else
  .m-admin-table
    %p No events have passed yet
