.m-admin__user.u-margin-top
  .m-admin__20
    %strong Name
  .m-admin__20
    %strong RSVPs
  .m-admin__20
    %strong Date
  .m-admin__20
    %strong Venue
  .m-admin__user-permission
    %strong
  .m-admin__user-submit
.m-admin__user
  %h3 Upcoming
- if upcoming_events.any?
  - upcoming_events.each do |event|
    .m-admin__user
      = render partial: 'event_row', locals: { event: event }
- else
  .m-admin__user
    %p No events scheduled
.m-admin__user
  %h3 Past
- if past_events.any?
  - past_events.each do |event|
    .m-admin__user
      = render partial: 'event_row', locals: { event: event }
- else
  .m-admin__user
    %p No events have passed yet
