.a-filter
  = search_form_for @search, url: search_admin_events_path, method: :post, remote: true do |f|
    = f.search_field :name_cont, placeholder: 'Search by name'
    = f.submit "Search", class: 'a-button'
