.a-page-holder
  %section.a-section
    .a-content--xwide
      .m-admin
        %h1.u-center Your meetups
        = render partial: 'event_list', locals: { upcoming_events: @upcoming_events, past_events: @past_events }

  - if current_user.has_role?(:admin)
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Schedule an event", new_admin_event_path, class: 'a-button  a-button--admin-edit'
