%table.row.masthead
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last.full-size{ style: 'padding: 0;' }
        %table
          %tr
            %th
              %img.text-center{style: 'width: 100%;', :align => "center", :src => source, :valign => "bottom"}
            %th.expander
