%table.container.text-center
  %tbody
    %tr
      %td
        / This container adds the grey gap at the top of the email
        %table.row.grey
          %tbody
            %tr
              %th.small-12.large-12.columns.first.last
                %table
                  %tr
                    %th
                       
                    %th.expander
