- set_page_title("Meetups")

.a-page-holder

  %section.a-section.a-section--separated
    .a-content.a-content--tight
      %h1.a-heading.u-center Meetups

      %p= I18n.t('index_introductions.meetups')

      .u-center.u-margin-bottom--small= link_to "Schedule meetup", new_admin_meetup_path if can? :create, Meetup

  %section.a-section.a-section--alt#meetup-search-results
    = render 'results'

  %section.a-section.a-section--alt
    .a-content
      .u-center.u-margin-bottom= link_to "Past meetups", past_meetups_path, class: 'a-button'
