%section.a-section.a-section--alt
  .a-content--wide
    %h1 Upcoming meetups
    .m-grid
      - @meetups.each do |meetup|
        = render partial: 'meetup', locals: { meetup: meetup, past: false }

%section.a-section.a-section--alt
  .a-content--wide
    %h1 Past meetups
    %p= link_to 'See all past meetups', past_meetups_path
    .m-grid
      - @last_six_past_meetups.each do |meetup|
        = render partial: 'meetup', locals: { meetup: meetup, past: true }
  %br
