- set_page_title("Past meetups")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--wide.a-content--tight
      %h1.a-heading.u-center
        = pluralize(@past_meetups.size, "Past Meetup")

      .a-content
        %p= I18n.t('index_introductions.meetups')

      .u-center.u-margin-bottom
        = link_to "Upcoming meetups", meetups_path, class: 'a-button'

  %section.a-section
    .a-content--xwide
      = render partial: 'shared/meetups', locals: { meetups: @past_meetups }
