.m-profile__nav
  %h2
    = link_to 'Likes', @language
    - if selected == 'likes'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Hackrooms', hackrooms_language_path(@language)
    - if selected == 'hackrooms'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
