- set_page_title("Languages")


.a-page-holder

  %section.a-section.a-section--alt
    .a-content--xwide.a-content--tight

      %h1.u-center
        #language-search-heading
          = render 'heading'

      .a-content
        %p
          We've used the word languages here, but these can be any tools or frameworks. Each person and hackroom can have
          %strong primary
          and
          %strong secondary
          languages, which helps us understand what our main focus is.

        = render partial: 'filter'

  %section.a-section
    .a-content--xwide

      #language-search-results
        = render 'results'

  - if can? :create, Language
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Add language", new_language_path, class: 'a-button a-button--edit'
