:ruby
  trigger = notification.notified_by
  target = notification.user
  subject = notification.notifiable
  action = notification.action

%i.fa.fa-comment-o.u-notification-icon
= link_to trigger.label, trigger
= action
= notification.notifiable_type.downcase
= link_to subject.title, subject
