.m-admin__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $color-border;
  text-align: left;
}

.m-admin__20 {
  width: 20%;
}

.m-admin__40 {
  width: 40%;
}

.m-admin__60 {
  width: 60%;
}

.m-admin__80 {
  width: 80%;
}
