.m-banner {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;

    @media #{$from-small} {

    padding: 0;

    }
    @media #{$from-large} {
    height: 100vh;
    padding: 0;
    }
  img {
    margin-top: 10px;
      @media #{$from-small}{
          margin-top: 100%;
    }
  }
  h1 {
    font-family: $header-font;
    text-align: center;
  }
  h2 {
    font-size: 1em;
  }
}

.m-banner--with-image {
  h1 {
    font-size: 2em;
    margin-top: 60px;
  }
  @media #{$from-large} {

    padding: 50px 0;
  }
}

.m-banner--yellow {
  background: $color-yellow;
  color: $color-blue;
  a {
    color: $color-blue;
  }
  a:hover {
    border-bottom: 3px solid $color-blue;
  }
  li{
    color: inherit;
  }
}

.m-banner--cream {
  background: $color-cream;
  color: $color-blue;
  a {
    color: $color-blue;
  }
  a:hover {
    border-bottom: 3px solid $color-blue;
  }
  li{
    color: inherit;
  }
}

.m-banner--purple {
  background: $color-purple;
  color: $color-yellow;
  a {
    color: $color-yellow;
  }
  a:hover {
    border-bottom: 3px solid $color-yellow;
  }
  li{
    color: inherit;
  }
}

.m-banner--green {
  background: $color-green;
  color: $color-cream;
  a {
    color: $color-cream;
  }
  a:hover {
    border-bottom: 3px solid $color-cream;
  }
  li{
    color: inherit;
  }
}

.m-banner--olive {
  background: $color-olive;
  color: $color-cream;
  a {
    color: $color-cream;
  }
  a:hover {
    border-bottom: 3px solid $color-cream;
  }
  li{
    color: inherit;
  }
}


.m-banner--pink {
  background: $color-pink;
  color: $color-yellow;
  a {
    color: $color-yellow;
  }
  a:hover {
    border-bottom: 3px solid $color-yellow;
  }
  li{
    color: inherit;
  }
}

#special{
  font-family: $body-font !important;
  margin-bottom: 75px;
}
