.m-blog {
  margin-bottom: 50px;
}

.m-blog__post {
  margin: 100px 0;
}

.m-blog__title {
  width: 100%;
  &:hover {
    @include link-fade;
  }

  h1 {
    margin: 0 0 5px;
  }
}

.m-blog__meta {
  width: 100%;
  margin-left: 2px;
}

.m-blog__date {
  margin-right: 10px;
}

.m-blog__button {
  text-align: center;
}
