@mixin post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.m-comments {
  margin-top: 40px;
  padding: 15px 30px;
  background: $color-pale-blue;

  img {
    width: 100%;
  }
}

.m-comments__feed {
  margin-bottom: 50px;
}

.m-comments__feed-item {
  margin-bottom: 50px;
}


.m-comment {
  margin-bottom: 30px;
}

.m-comment__content {
  margin: 15px 0;
  padding: 10px;
}

.m-comment__new {
  margin-bottom: 40px;

  input {
    width: 100%;
    padding: 8px;
    border: solid 1px $color-light-grey;
  }
}

.m-comment__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.js-reveal-section {
  display: none;
}

.m-comment__replies {
  margin-top: 20px;
  margin-left: 20px;

  @media #{$from-medium} {
    margin-left: 30px;
  }

  .m-comment__previous {
    margin-bottom: 20px;
  }
}

.m-comment__actions {
  @include flex($justify-content: flex-start);
  padding-left: 10px;

  >:not(:last-child) {
    margin-right: 15px;
  }
}

.m-comment__footer {
  @include flex($justify-content: space-between);
  padding: 8px;
  margin-top: 10px;
  background-color: darken($color-pale-blue, 2%);
  border-top: solid 1px $color-blue;
}
