#m-dropdown {
  padding-left: 0;

  a {
    border: 0;
  }

  a:hover {
    @include link-fade;
  }
}

#m-dropdown > li {
  list-style: none;
  position: relative;
}

.m-dropdown .m-dropdown__submenu {
  z-index: 200;
  background: $color-white;
  border: 1px solid $color-light-grey;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .05);
  list-style: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 50px;
  transition: all 0.25s;
  visibility: hidden;
  padding: 1.2em 2em;
}

.m-dropdown .m-dropdown__submenu--left {
  top: 30px;
  right: -170px;
  left: 5px;
}

.m-dropdown__submenu--members {
  top: 50px;
  right: -37px;
  left: -38px;
  text-align: left;
}

.m-dropdown .m-dropdown__submenu--right {
  right: 5px;
  left: -250px;
  text-align: right;
}

.m-dropdown .m-dropdown__submenu--right-small {
  right: 5px;
  left: -200px;
  text-align: center;
  text-align: right;
}

.no-js .m-dropdown:hover .m-dropdown__submenu,
.m-dropdown--hover:hover .m-dropdown__submenu,
.m-dropdown-click.m-dropdown-active .m-dropdown__submenu {
  opacity: 1;
  visibility: visible;
}

.m-dropdown .m-dropdown__submenu a {
  display: inline-block;
  padding: 10px 0;
}

.m-dropdown-show {
  visibility: visible;
  opacity: 1;
  top: 50px;
}

.m-dropdown__trigger {
  cursor: pointer;
}
