footer {
  background-color: $color-pale-blue;
  text-align: center;
  padding: 40px;
  border-top: 5px solid $color-blue;
  position: relative;
  margin-top: 0;

  p {
    margin: 0;
  }

  @media #{$to-medium} {
    padding-bottom: 80px;
  }
}
