.m-form__checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.m-form__checkbox {
  padding: 15px;
  input {
    margin-right: 5px;
  }
}

.g-recaptcha {
  div {
    margin: 0 auto;
  }
}
