.m-hackroom-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.m-hackroom-list--home {

  .m-hackroom-list__hackroom {
    @media #{$from-xlarge} {
      width: 100%;
    }
  }
}

.m-hackroom-list__hackroom {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $color-border;
  box-sizing: border-box;
  margin: 5px;

  @media #{$from-xlarge} {
    width: 45%;
    margin: 15px;
    padding: 25px;
  }
}

.m-hackroom__mission {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: $body-font;
  font-size: 1.2em;
}

.m-hackroom__links {
  font-size: 2.5em;
  i:not(:last-child) {
    padding-right: 10px;
  }
}

.m-hackroom__avatar {
  width: 50px;
}

.m-hackroom__members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  .m-post__author {
    margin: 10px;
  }

  .m-post__author:not(:last-child) {
    margin-right: 2em;
  }
}

.m-hackroom__languages {
  select {
    border-color: #cacacc;
    width: 100%;
    min-height: 100px;
  }
}

.m-hackroom__admins {
  select {
    border-color: #cacacc;
    width: 100%;
    min-height: 200px;
  }
}
