.m-intro {
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  .a-button {
    margin: 20px auto 30px;
  }

  h3 a:hover {
    border-bottom: 3px solid $color-pink;
    transition: none;
    color: $color-blue;
  }
}

.m-intro__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: -30px;
  flex-wrap: wrap;
}

.m-intro__logo {
  max-width: 180px;
  &:not(:last-child) {
    padding-right: 30px;
  }
}

#sponsor_2 {
  img {
    height: 90px;
    width: auto;
  }
}
