.m-languages__language {
  margin-bottom: 50px;

  h1 {
    padding-bottom: 5px;
  }
}

.m-languages__description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: $body-font;
  font-size: 1.2em;
}

.m-languages__hackrooms {
  margin-top: 40px;
  margin-bottom: 50px;
}

.m-languages__language--default {
  border-bottom: solid 2px $color-black;
}

.m-languages__language--1 {
  border-bottom: solid 2px $color-ruby;
}

.m-languages__language--2 {
  border-bottom: solid 2px $color-python;
}

.m-languages__language--3 {
  border-bottom: solid 2px $color-java;
}

.m-languages__language--4 {
  border-bottom: solid 2px $color-swift;
}

.m-languages__language--5 {
  border-bottom: solid 2px $color-js;
}

.m-languages__language--6 {
  border-bottom: solid 2px $color-react;
}

.m-languages__language--7 {
  border-bottom: solid 2px $color-html;
}
