.m-languages__language {
  margin-bottom: 50px;

  h1 {
    padding-bottom: 5px;
  }
}

.m-languages__hackrooms {
  margin-top: 40px;
  margin-bottom: 50px;
}

.m-languages__people {

}

.m-languages__language--1 {
  border-bottom: solid 2px $color-ruby;
}

.m-languages__language--2 {
  border-bottom: solid 2px $color-python;
}
