.m-languages__language {
  margin-bottom: 50px;

  h1 {
    padding-bottom: 5px;
  }
}

.m-languages__description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: $body-font;
  font-size: 1.2em;
}

.m-languages__hackrooms {
  margin-top: 40px;
  margin-bottom: 50px;
}
