.m-members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 0 10px;

  @media #{$from-medium} {
    flex-direction: row;
    align-items: flex-start;
  }

  .a-social-links {
    margin-bottom: 20px;
  }
}

.m-member {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;

  &:nth-child(1n+3) {
    margin-top: 150px;
  }

  @media #{$from-medium} {
    margin-bottom: 0;
  }
}

.m-member__badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    @include link-fade;
  }
}

.m-member__avatar {
    width: 150px;
    border-radius: 50%;
}

.m-member__logo {
  width: 100px;
  margin-bottom: 20px;
}

.m-member__logo--nap {
  margin-top: 14px;
  width: 225px;
  margin-bottom: 25px;
}

.m-member__skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -20px;

  span {
    padding: 10px;
    color: white;
    margin-top: 20px;
  }
}

.m-member__skill--html {
  background: $color-dark-grey;
}

.m-member__skill--css {
  background: $color-pink;
}

.m-member__skill--js {
  background: $color-blue;
  color: $color-dark-grey;
}

.m-member__skill--py {
  background: $color-green;
}

.m-member__skill--swift {
  background: $color-purple;
}
