.m-post {

  h1 {
    margin: 0 0 5px;
    padding-top: 10px;
  }
}

.m-post__meta {
  width: 100%;
  margin-left: 2px;
  margin-bottom: 40px;
}

.m-post__content {
  img {
    width: 100%;
    height: auto;
  }
}
