.m-post-editor {
  div {
    margin-bottom: 20px;
  }
}

.m-post-editor__title {
  input {
    width: 100%;
    padding: 5px;
  }
}

.m-post-editor__options {
  input[type="text"] {
    width: 100%;
    font-size: 1em;
    padding: 10px;
    border: solid 1px $color-light-grey;
  }
}

.medium-editor {
  min-height: 150px;
  border: solid 1px $color-light-grey;
  padding: 5px;
  font-family: $body-font;
}
