$profile-avatar-size: 150px;

.m-profile {
  min-height: 70vh;
}

.m-profile__header {
  @include flex-centre-col;
  margin-top: 30px;

  .m-profile__header-text {
    @include flex-col;
    text-align: center;

    h1,
    h3 {
      margin: 0;
    }
  }

  .a-social-links {
    margin-top: 10px;
    a {
      margin-right: 10px;
    }
  }

  @media #{$from-large} {
    flex-direction: row;
    text-align: left;

    .m-profile__image {
      margin-right: 20px;
    }

    .a-social-links {
      justify-content: flex-start;
    }
  }
}

.m-profile__image {
  img {
    width: $profile-avatar-size;
    height: $profile-avatar-size;
    border-radius: 50%;
  }
}

.m-profile__logo {
  width: 150px;
  margin: 15px auto;

  img {
    max-height: 50px;
    max-width: 150px;
  }

  @media #{$from-large} {
    padding-left: 30px;
  }
}

.m-profile__bio {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: $body-font;
  font-size: 1.2em;
}

.m-profile__add-interests {
  margin: 50px;
}

.m-profile__add-skills {
  margin-bottom: 100px;
}

.m-profile--edit {
  input {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
  }

  .m-profile__image-upload {
    margin-left: 50px;
  }

  .m-profile__logo {
    margin: 15px 0;
  }

  .m-profile__wide-field {
    width: 100%;
  }

  .m-profile__links {
    @include flex-row;

    i {
      font-size: 1.2em;
      margin-right: 5px;
    }

    .m-profile__links--field {
      margin-right: 20px;
    }
  }
}
