.m-sign-in {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;

  input,
  .a-button {
    padding: 10px;
  }

  .a-button {
    text-align: center;
    color: white;
  }

  & > * {
    margin-bottom: 10px;
  }
}

.m-sign-in__remember {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    padding-top: 3px;
  }

  input {
    transform: scale(1.2);
    margin-right: 10px;
  }
}
