.m-user-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.m-user-card {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $color-border;
  box-sizing: border-box;
  margin: 5px;

  @media #{$from-medium} {
    width: 45%;
    margin: 10px;
    padding: 15px;
  }

  @media #{$from-large} {
    width: 45%;
    margin: 15px;
    padding: 25px;
  }

  @media #{$from-xlarge} {
    width: 30%;
    margin: 15px;
    padding: 25px;
  }
}

.m-user-card__avatar {
  width: 60%;
  margin: 0 auto;

  img {
    border-radius: 50%;

    @media #{$from-medium} {
      width: 100%;
      max-width: 200px;
    }
  }
}
