.m-user-list__search.js-filter-form
  = search_form_for @search, url: search_users_path, method: :post, remote: true do |f|
    .m-user-list__search-item
      = f.search_field :name_cont, placeholder: 'Name'
    .m-user-list__search-item
      = f.search_field :job_title_cont, placeholder: 'Job'
    = f.submit "Search", class: 'a-button u-hide-on-desktop'
