%section.a-section
  .a-content
    - if user.hackrooms.any? || user.own_hackrooms.any?

      - if user.own_hackrooms.any?
        %h2
          Maintaining
          = pluralize(user.own_hackrooms.count, "hackroom")
        = render partial: 'shared/hackroom_list', locals: { source: user.own_hackrooms }

      - if user.hackrooms.any?
        %h2
          Participating in
          = pluralize(user.hackrooms.count, "hackroom")
        = render partial: 'shared/hackroom_list', locals: { source: user.hackrooms }

