%section.a-section
  .a-content
    - if user.hackrooms.any? || user.own_hackrooms.any?

      - if user.own_hackrooms.any?
        %h2
          Hackrooms I maintain
        = render partial: 'shared/hackroom_list', locals: { source: user.own_hackrooms }

      - if user.hackrooms.any?
        %h2
          Hackrooms I'm in
        = render partial: 'shared/hackroom_list', locals: { source: user.hackrooms }

