- if user.events.any?
  %section.a-section
    .a-content
      %h2 Meetups I'm attending
      - user.events.each do |event|
        = link_to event do
          = event.name
          %br
          = event.date.to_formatted_s(:long_ordinal)
