.m-profile__nav
  %h2
    = link_to 'Languages', @user
    - if selected == 'languages'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Hackrooms', hackrooms_user_path(@user)
    - if selected == 'hackrooms'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Discussion', discussion_user_path(@user)
    - if selected == 'discussion'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
  %h2
    = link_to 'Followers', followers_user_path(@user)
    - if selected == 'followers'
      .m-profile__line.m-profile__line--nav
    - else
      .m-profile__line--nav.m-profile__line--blank
