- set_page_title("Members")

%section.a-section
  .a-content--xwide

    %h1.u-center
      #user-search-heading
        = render 'heading'

    = render partial: 'filter'
    = render partial: 'sort'

%section.a-section
  .a-content--xwide
    #user-search-results
      = render 'results'
