.a-page-holder
  %section.a-section.a-section--alt
    .a-content--xwide.a-content--tight

      %h1.u-center Organisers

    .a-content
      %p= I18n.t('index_introductions.organisers')

      .u-center.u-margin-bottom.u-margin-top--small
        - if current_user && current_user.organiser_interests.empty?
          = button_to organiser_interests_path(current_user), { method: :post, class: 'a-button' } do
            I'm interested!


  %section.a-section
    .a-content--xwide
      .m-user-cards
        - @organisers.each do |user|
          = render partial: 'user_card', locals: { user: user }
