.a-page-holder
  %section.a-section.a-section--alt
    .a-content--xwide.a-content--tight

      %h1.u-center Organisers

    .a-content
      %p= I18n.t('index_introductions.organisers')

  %section.a-section
    = render partial: 'shared/people', locals: { users: @organisers }
