- comments.each do |comment|
  .m-comments__feed-item
    = render partial: 'shared/comment', locals: { comment: comment, delete_link: true }

    .m-comment__replies#comment-replies
      = render partial: 'shared/replies', locals: { comment: comment }

    .u-blue-line--thin
