%ul.m-tabs
  %li
    = link_to "People", users_path, class: ('m-tabs__selected' if current_page?(users_path))
  %li
    = link_to "Interests", interests_path, class: ('m-tabs__selected' if current_page?(interests_path))
  %li
    = link_to "Skills", skills_path, class: ('m-tabs__selected' if current_page?(skills_path))
  %li
    = link_to "Organisers", organisers_path, class: ('m-tabs__selected' if current_page?(organisers_path))
