.m-post
  %h1= link_to post.title, post_path(post)
  .m-post__meta
    %span
      %i.fa.fa-clock-o
      = post.created_at.to_formatted_s(:long)
    - if post.author
      %span
        %i.fa.fa-user-circle-o
        = post.author
  = truncate(post.content, length: 400, escape: false, separator: '.')
