.m-post
  %h1
    = link_to post.title, post_path(post)
    - if user_is_admin || post.created_by == current_user
      %a.m-profile__pencil{href: edit_post_path(post)}
        %i.a-icon-after-text.fa.fa-pencil
  .m-post__meta-strip
    = render partial: 'posts/author', locals: { user: post.created_by, post: post }
    .m-post__tags
      .a-tags
        - post.tags.take(1).each do |tag|
          %h2.a-tag.a-tag--post-tag= tag.name
  .m-post__excerpt
    = simple_format(truncate(post.content, length: 500, escape: false, omission: '...', separator: '.'))
