.m-grid__box
  %h1= link_to post.title, post_path(post)

  .m-post__tags.u-left
    .a-tags
      - post.tags.take(1).each do |tag|
        %h2.a-tag.a-tag--post-tag= tag.name

  .u-right
  .m-grid__bottom
    = link_to "Read", post, class: 'a-button a-button--elastic'
