:ruby
  with_date ||= nil

.a-identity
  .a-identity__photo
    = link_to image_tag(avatar_url(user)), user_path(user), title: user.name
  .a-identity__tagline
    .a-paint-border-bottom{class: ("a-paint-border-bottom--#{user.primary_languages&.first&.id}")}
      = link_to user.name, user_path(user)
    = with_date ? date_and_time_as_sentence(date) : user.tagline
