.m-post__author
  .m-post__author-photo
    = link_to image_tag(avatar_url(user)), user_path(user), title: user.name
  .m-post__meta
    .m-languages__language--default{class: ("m-languages__language--#{user.primary_languages.first.id}" if user.primary_languages.any?)}
      = link_to user.name, user_path(user)
    = user.tagline

