:ruby
  image_only ||= nil
  date ||= nil

.a-identity
  .a-identity__photo
    = link_to image_tag(avatar_url(user), title: user.name, style: "border-left: solid 3px #{user.primary_languages&.first&.colour};"), user_path(user)
  - unless image_only
    .a-identity__tagline
      = link_to user.name, user_path(user)
      %br
      = time_as_sentence(date) if date
