%h2 Upcoming

- if upcoming_meetups.any?
  %table.m-admin-table.u-margin-top
    %thead
      %tr
        %th{style: 'width: 20%'}
          Name
        %th{style: 'width: 5%'}
          RSVPs
        %th{style: 'width: 20%'}
          Date
        %th{style: 'width: 20%'}
          Venue
        %th{style: 'width: 5%'}
    %tbody
      - upcoming_meetups.each do |meetup|
        = render partial: 'meetup_row', locals: { meetup: meetup }
- else
  %p No meetups scheduled
%br
%h2 Past
- if past_meetups.any?
  %table.m-admin-table.u-margin-top
    %thead
      %tr
        %td{style: 'width: 20%'}
          Name
        %td{style: 'width: 5%'}
          RSVPs
        %td{style: 'width: 20%'}
          Date
        %td{style: 'width: 20%'}
          Venue
        %th{style: 'width: 5%'}
    %tbody
      - past_meetups.each do |meetup|
        = render partial: 'meetup_row', locals: { meetup: meetup }
- else
  .m-admin-table
    %p No meetups have passed yet
