.a-page-holder
  %section.a-section
    .a-content--xwide
      .m-admin
        %h1.u-center
          #admin-meetup-search-heading
            = render 'heading'

        = render partial: 'filter'

        #admin-meetup-search-results
          = render 'results'


  %section.a-section.u-margin-top--mobile
    .a-content.u-center
      = link_to "Schedule a meetup", new_admin_meetup_path, class: 'a-button  a-button--admin-edit'
