.a-page-holder
  %section.a-section
    .a-content--xwide
      .m-admin
        %h1.u-center Your meetups
        = render partial: 'meetup_list', locals: { upcoming_meetups: @upcoming_meetups, past_meetups: @past_meetups }

  - if current_user.has_role?(:admin)
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Schedule a meetup", new_admin_meetup_path, class: 'a-button  a-button--admin-edit'
