.m-hackroom-list
  - @events.each do |event|
    .m-hackroom-list__hackroom
      = link_to event_path(event) do
        %h2
          = event.name
        =event.date.to_formatted_s(:long)

      .m-hackroom__mission
        = simple_format(truncate(sanitize(event.description), length: 250, escape: false, omission: '...', separator: '.'))

      .u-margin-top.u-right
        = link_to "View", event, class: 'a-button a-button--elastic'
