- set_page_title("Past meetups")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--wide.a-content--tight
      %h1.a-heading.u-center
        = pluralize(@past_events.size, "Past Meetup")

      .a-content
        %p= I18n.t('index_introductions.events')

      .u-center.u-margin-bottom
        = link_to "Upcoming meetups", events_path, class: 'a-button'

  %section.a-section
    .a-content--xwide
      = render partial: 'shared/events', locals: { events: @past_events }
