- set_page_title("Sponsors")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--wide.a-content--tight
      %h1.a-heading.u-center Sponsors

      .a-content.u-margin-bottom
        %p
          Our sponsors provide us with food and a comfortable space for us to
          meet, and they enjoy engaging with developers and the local
          community.
        %p
          We're always happy to hear from members and organisations who have connected
          as a result of our meetup, either through employment or other interesting
          opportunities.
        %p
          If you'd like to sponsor a meetup with us, please contact
          = succeed '.' do
            = link_to "Steve", "https://linkedin.com/in/svpersteve"

  - if can? :create, Sponsor
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Add sponsor", new_admin_sponsor_path, class: 'a-button a-button--edit'

  = render partial: 'shared/sponsors', locals: { sponsors: @sponsors }
