- set_page_title("Home")

%head
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "@westlondoncode", :name => "twitter:site"}
  %meta{:content => "@westlondoncode", :name => "twitter:creator"}
  %meta{:content => "Learn, discuss and practice code at West London Coders", :name => "twitter:title"}
  %meta{:content => "Dive into web development with relaxed and friendly developers at the stunning NET-A-PORTER HQ in Westfield, White City.", :name => "twitter:description"}
  %meta{:content => "http://westlondoncoders.com/img/general/twitter.jpg", :name => "twitter:image"}
  %meta{:content => "http://westlondoncoders.com/", :property => "og:url"}
  %meta{:content => "article", :property => "og:type"}
  %meta{:content => "Learn, discuss and practice code at West London Coders", :property => "og:title"}
  %meta{:content => "Dive into web development with relaxed and friendly developers at the stunning NET-A-PORTER HQ in Westfield, White City.", :property => "og:description"}
  %meta{:content => "http://westlondoncoders.com/img/general/twitter.jpg", :property => "og:image"}

.m-hero--video
  = video_tag "video/python.mov", autoplay: true, muted: true, loop: true
  %h1.m-hero-header.m-hero-header--home Learn, discuss and practice code.

%section.a-section
  .a-content--wide
    .m-intro
      %h1.a-heading--large
        Join
        %span#next-meetup-count 20
        others at our next meetup
      %h2
        %span#next-meetup-date
        %span#next-meetup-venue-name
      %h3
        %span#next-meetup-venue
      #next-meetup-link
        %a.a-button{href: "https://www.meetup.com/West-London-Coders/"} RSVP

%section.a-section.a-section--img-block

%section.a-section
  .a-content.a-content-top--spacious
    .m-blog
      - @posts.take(3).each do |post|
        = render partial: 'shared/posts', locals: {post: post}

%section.a-section
  .a-content
    .u-center
      %a.a-button{href: posts_path} More posts
