- set_page_title("Learn, discuss and practice code")

.m-hero--home
  %h1 Learn, discuss and practice code.

%section.a-section
  .a-content--wide
    .m-intro
      %h1.a-heading--large
        Join
        %span#next-meetup-count 20
        others at our next meetup
      %h2
        %span#next-meetup-date
        %span#next-meetup-venue-name
      %h3
        %span#next-meetup-venue
      #next-meetup-link
        %a.a-button{href: "https://www.meetup.com/West-London-Coders/"} RSVP

%section.a-section.a-section--img-block

%section.a-section
  .a-content.a-content-top--spacious
    .m-blog
      - @posts.take(4).each do |post|
        = render partial: 'shared/posts', locals: {post: post}

%section.a-section
  .a-content
    .u-center
      %a.a-button{href: posts_path} More posts

%section.a-section.a-section--img-block2
