%head
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@westlondoncode">
  <meta name="twitter:creator" content="@westlondoncode">
  <meta name="twitter:title" content="Learn, discuss and practice code at West London Coders">
  <meta name="twitter:description" content="Dive into web development with relaxed and friendly developers at the stunning NET-A-PORTER HQ in Westfield, White City.">
  <meta name="twitter:image" content="http://westlondoncoders.com/img/general/twitter.jpg">

  <meta property="og:url" content="http://westlondoncoders.com/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Learn, discuss and practice code at West London Coders" />
  <meta property="og:description" content="Dive into web development with relaxed and friendly developers at the stunning NET-A-PORTER HQ in Westfield, White City." />
  <meta property="og:image" content="http://westlondoncoders.com/img/general/twitter.jpg" />

.m-hero--video
  %video{src: asset_path("video/python.mov"), autoplay: true, muted: true, loop: true}
  %h1.m-hero-header.m-hero-header--home Learn, discuss and practice code.
