- set_page_title("Learn, discuss and practice code")

.m-hero--video
  = video_tag "video/gdg.mov", controls: false, autoplay: true, loop: true, id: 'home-vid'
  %h1#next-meetup-banner Learn, discuss and practice code.

%section.a-section.a-section--separated
  .a-content--wide
    .m-intro
      %h1.a-heading--large
        Join
        %span#next-meetup-count 20
        others at our next meetup
      %h2
        %span#next-meetup-date
        %span#next-meetup-venue-name
      %h3
        %span#next-meetup-venue
      = render partial: 'events/rsvp_button', locals: { event: @next_event }

- if @sponsors.any?
  %section.a-section.m-intro
    %h3 Our partners
    .m-intro__logos.u-margin-bottom
      - @sponsors.each do |sponsor|
        .m-intro__logo[sponsor]= link_to image_tag(sponsor.logo_url), sponsor

%section.a-section.a-section--img-block

%section.a-section
  .a-content--xwide
    .a-content--home
      .m-grid.m-grid--wide
        = render partial: 'shared/posts', locals: { posts: @posts.take(3) }

      .m-comments
        %h2
          Latest comments
          %i.fa.fa-comment-o
        = render partial: 'comments_feed'

.m-hero--home
