%section.a-section
  .a-content.a-content-top--spacious
    %img.a-image--right.a-image--medium{src: "https://jekyllrb.com/img/logo-2x.png"}
    %h1 Jekyll
    %p gem install jekyll bundler
    %p jekyll new my-awesome-site
    %p cd my-website
    %p bundle exec jekyll serve
    %p
      Now browse to
      %a{href: "http://localhost:4000", target: "_blank"}
        http://localhost:4000

%section.a-section
  .a-content.a-content-top--spacious
    %h2 What's Jekyll?
    %p Jekyll is kind of a mini Ruby on Rails that lets you make "layouts" and "includes" for your pages, so you don't have to repeat your code every page. This means you can set a head for all the pages, and a header so you can have the same navbar, and a footer etc.
    %p You can also write blog posts and have Jekyll loop over each post and present them in a list, a grid or however you choose.
    %p It also lets you use Sass, which is amazing!
