- set_page_title("Learn")

%section.a-section.a-section--img
  .a-content.a-content-top--spacious
    .m-cards
      .m-card
        %h1 Git
        %ul
          %li
            %a{:href => "https://www.atlassian.com/git/tutorials/", :target => "__blank"} Atlassian git tutorial
          %li
            %a{:href => "https://git-scm.com/docs/gittutorial", :target => "__blank"} Official git tutorial
          %li
            %a{:href => "http://rogerdudler.github.io/git-guide/", :target => "__blank"} A minimalistic git guide
          %li
            %a{:href => "https://www.youtube.com/watch?v=1ffBJ4sVUb4", :target => "__blank"} Git for ages 4 and up
          %li
            %a{:href => "https://github.com/Gazler/githug", :target => "__blank"} Githug

      .m-card
        %img.m-card__image{src: asset_path("learn/1.jpg")}

      .m-card
        %img.m-card__image{src: asset_path("learn/2.jpg")}

      .m-card
        %h1 Programming basics
        %ul
          %li
            %a{:href => "https://en.wikipedia.org/wiki/Variable_(computer_science)", :target => "__blank"} Variables
          %li
            %a{:href => "https://en.wikipedia.org/wiki/Compiler", :target => "__blank"} Compiler
          %li
            %a{:href => "https://en.wikipedia.org/wiki/Programming_language", :target => "__blank"} Programming language
          %li
            %a{:href => "https://en.wikipedia.org/wiki/Programming_paradigm", :target => "__blank", :target => "__blank"} Programming paradigm

      .m-card
        %h1 HTML
        %ul
          %li
            %a{href: "/jekyll"} Jekyll
          %li
            %a{href: "http://treehouse.7eer.net/c/248218/228915/3944", target: "_blank"} Treehouse
          %li
            %a{:href => "https://www.codecademy.com/", :target => "__blank"} Codecademy
          %li
            %a{:href => "https://developer.mozilla.org/en-US/docs/Web/HTML", :target => "__blank"} MDN HTML documentation
          %li
            %a{:href => "http://htmldog.com/guides/html/beginner/", :target => "__blank"} Beginner HTML tutorial by htmldog
          %li
            %a{:href => "https://en.wikipedia.org/wiki/HTML", :target => "__blank"} Wikipedia's HTML article

      .m-card
        %h1 CSS
        %ul
          %li
            %a{:href => "https://css-tricks.com/", :target => "__blank"} A blog about CSS and much more!
          %li
            %a{:href => "http://www.flexboxdefense.com/", :target => "__blank"} Flexbox defense
          %li
            %a{:href => "http://flexboxfroggy.com/", :target => "__blank"} Flexbox froggy
          %li
            %a{:href => "https://flukeout.github.io/", :target => "__blank"} CSS Diner

      .m-card
        %h1 Javascript
        %ul
          %li
            %a{:href => "https://developer.mozilla.org/en-US/docs/Web/JavaScript", :target => "__blank"} MDN JavaScript
          %li
            %a{:href => "http://bonsaiden.github.io/JavaScript-Garden/", :target => "__blank"} JavaScript garden
          %li
            %a{:href => "http://eloquentjavascript.net/", :target => "__blank"} Eloquent JavaScript
          %li
            %a{:href => "https://github.com/getify/You-Dont-Know-JS", :target => "__blank"} You don't know JS series
          %li
            %a{:href => "https://en.wikipedia.org/wiki/JavaScript", :target => "__blank"} JavaScript on wikipedia

      .m-card
        %img.m-card__image{src: asset_path("learn/3.jpg")}

.anti-footer
