- set_page_title("Upcoming Meetups")

%section.a-section.a-section--img-people
  .a-content
    %h1.m-cards__header-dark Upcoming meetups
    .m-cards#meetup-list

%section.a-section
  .a-content
    .m-cards__cta
      = link_to "http://meetu.ps/c/2KPMg/wK6MK/f", class: 'a-button' do
        Join our
        %i.fa.fa-meetup
        Meetup group
