- set_page_title('Something’s not right')

.a-page-holder
  %section.a-section.u-centered
    .a-content
      %h1.a-heading.a-heading--large Something’s not right.
      %p
        We’ve been told about the problem and we're doing our best to fix it. Thanks for your patience 🙂
