- set_page_title('This page doesn’t exist')

.a-page-holder
  %section.a-section.u-centered
    .a-content
      %h1.a-heading.a-heading--large This page doesn’t exist.
      %p
        You may have mistyped the address or the page may have moved.
        Try going to #{link_to 'West London Coders', root_path} instead. If you think
        this an error, please tell Steve on Slack.
