.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-no-border {
  border: 0;

  &:hover {
    border: 0;
  }
}

.u-hide-on-desktop {
  @media #{$from-medium} {
    display: none;
  }
}
