.a-page-holder
  %section.a-section
    .a-content--xwide
      %h1.u-center Roles
      .m-admin__roles
        - @roles.each do |role|
          .m-admin__user
            .m-admin__user-name
              = role.name
            .m-admin__user-permission
            .m-admin__user-submit
              - if can? :update, role
                = link_to 'Edit', edit_role_path(role), class: 'a-button'

      .u-margin-top.u-right
        = link_to 'New role', new_role_path, class: 'a-button'
