- unless step.position == 1
  %h3.u-float-left
    = link_to course_step_path(course, (step.position - 1)) do
      %i.fa.fa-arrow-left
      Back

- if step.position == course.steps.count
  %h3.u-float-right
    = link_to finish_course_step_path(course, step) do
      Finish

- else step.position == course.steps.count
  %h3.u-float-right
    = link_to next_course_step_path(course, step) do
      Next
      %i.fa.fa-arrow-right
