.a-step__progress-list
  = link_to course do
    .a-step__step
      .a-step__number.a-step__number--complete
        %i.fa.fa-arrow-left
  - course.steps.each do |step|
    = link_to course_step_path(course, step) do
      .a-step__step
        .a-step__number{class: step_number_classes(@step, step)}
          = step.position
