/* Coolors Exported Palette - coolors.co/1446a0-5bc0eb-f5d547-fde74c-343330 */
/* RGB */

$color-blue: rgba(20, 70, 160, 1);
$color-pink: #db3069;
$color-light-blue: rgba(91, 192, 235, 1);
$color-dark-yellow: rgba(245, 213, 71, 1);
$color-yellow: rgba(253, 231, 76, 1);
$color-dark-grey: rgba(52, 51, 48, 1);
$color-light-grey: rgba(162, 162, 160, 1);
$color-blue: rgba(20, 70, 160, 1);

.pink {
  color: $color-pink;
}
