* {
    box-sizing: border-box;
}

#disqus_thread {
  margin: 40px auto;
}

.twitter-tweet {
  margin: 0 auto;
  padding: 10px 0;
}

footer {
  margin-top: 100px;
}

.anti-footer {
  margin-bottom: -100px;
}

.instagram-media {
  margin: 35px auto;
}
