* {
  box-sizing: border-box;
}

footer {
  margin-top: 100px;

  @media #{$from-medium} {
    margin-top: 50px;
  }
}

.cancel-footer {
  @media #{$from-medium} {
    margin-bottom: -50px;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-centre-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

// Clearfix
// --------

@mixin clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin flex($direction: row, $justify-content: center, $align-items: center, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}
