.u-margin-top
  - course.steps.each do |step|
    = link_to course_step_path(course, step) do
      .a-step__step
        .a-step__number{class: ('a-step__number--complete' if step.completed_by?(current_user))}= step.position
        = step.title
