.m-post__author
  .m-post__author-photo
    = link_to image_tag(avatar_url(user)), user_path(user), title: user.name
  .m-post__meta
    .a-paint-border-bottom{class: ("a-paint-border-bottom--#{user.primary_languages&.first&.id}")}
      = link_to user.name, user_path(user)
    = current_page?(post) ? post.created_at.to_formatted_s(:long) : post.created_at.to_formatted_s(:short)
