- set_page_title("Blog")

%section.a-section
  .a-content--wide
    %h1.a-heading
      #post-search-heading
        = render 'heading'

    = render partial: 'filter_posts'

  .a-content
    #post-search-results
      = render 'results'
