- set_page_title("Blog")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--wide.a-content--tight
      %h1.a-heading
        #post-search-heading
          = render 'heading'

      .a-content
        %p= I18n.t('index_introductions.posts')

      = render partial: 'filter'

  .a-content--xwide
    #post-search-results
      = render 'results'
