- set_page_title("Posts")

.a-page-holder

  %section.a-section.a-section--alt
    .a-content--wide.a-content--tight
      %h1.a-heading
        #post-search-heading
          = render 'heading'

      .a-content
        %p
          Anyone can write posts at West London Coders. Writing about development or your experience at West London Coders is a great way to express yourself, provoke discussion and get involved in the developer community.


      = render partial: 'filter_posts'

  .a-content--xwide
    #post-search-results
      = render 'results'
