- set_page_title(@post.title)
= render partial: 'og_header'

- if @post.post_attachments.any?
  = render partial: 'posts/templates/gallery'

- else
  = render partial: 'posts/templates/post'

= render partial: 'shared/comments', locals: { commentable: @post }
