%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %center{"data-parsed" => ""}
                %a.text-center{:align => "center", :href => "http://www.westlondoncoders.com"}
                  %img.swu-logo{src: "https://s3.eu-west-2.amazonaws.com/wlcimages/logo-wide.png"}
