.a-page-holder
  %section.a-section
    .a-content--xwide
      .m-admin
        %h1.u-center
          #admin-user-search-heading
            = render 'heading'

        = render partial: 'filter'
        = render partial: 'sort'

        #admin-user-search-results
          = render 'results'

