.m-admin_bar
  %i.fa.fa-cog
  - if current_user.has_role?(:admin)
    = link_to admin_root_path do
      %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_root_path))}
        Members
    = link_to admin_roles_path do
      %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_roles_path))}
        Roles
.u-margin-bottom--small
