.m-admin_bar
  %i.fa.fa-cog
  = link_to admin_root_path do
    %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_root_path))}
      Members
  = link_to admin_events_path do
    %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_events_path))}
      Events
  = link_to admin_sponsors_path do
    %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_sponsors_path))}
      Sponsors
  = link_to admin_roles_path do
    %h3.m-admin_bar__item{class: ('m-admin_bar__item--is-selected' if current_page?(admin_roles_path))}
      Roles

.u-margin-bottom--small
