%a.s-navbar__nav{ class: ('is-selected' if current_page?(users_path)), href: users_path } Members
%a.s-navbar__nav{ class: ('is-selected' if current_page?(hackrooms_path)), href: hackrooms_path } Hackrooms
%a.s-navbar__nav{ href: "https://www.meetup.com/West-London-Coders/", target: '_blank' } Meetups
%a.s-navbar__nav{ class: ('is-selected' if current_page?(languages_path)), href: languages_path } Languages
%a.s-navbar__nav{ class: ('is-selected' if current_page?(posts_path)), href: posts_path } Blog
