.s-navbar__user-nav-menu-dropdown
  %h4 Settings
  %hr.u-blue-line--thin
  = link_to "Your profile", user_path(current_user), class: 's-navbar__nav'
  = link_to "Edit profile", edit_user_path(current_user), class: 's-navbar__nav'
  %hr.u-blue-line--thin
  = link_to "Sign out", destroy_user_session_path, method: :delete, class: 's-navbar__nav'
