- if current_user
  - if current_user.score > 0
    %a.s-navbar__score= link_to score(current_user), score_user_path(current_user)

  = link_to mark_all_read_path, remote: true, class: 'js-open-notifications' do
    .s-navbar__notification-icon{"data-badge" => (current_user.notifications.unread.size if current_user.notifications.unread.size > 0)}
      %i.fa.fa-bell-o
  = link_to user_path(current_user), class: 'js-user-nav-trigger' do
    %i.fa.fa-gear

- else
  = link_to new_user_session_path, class: 'a-button a-button--small' do
    Sign in
