%section.a-section
  .a-content
    %h1= @post.title

    = render partial: 'shared/user_tag', locals: { user: @post.created_by, with_date: true, date: @post.created_at }

    .u-margin-top--small= sanitize @post.content

    .a-tags
      - @post.tags.each do |tag|
        %h2.a-tag.a-tag--light-blue= tag.name
