%section.a-section
  .a-content
    .m-post
      %h1= @post.title

      = render partial: 'posts/author'

      .m-post__content
        = sanitize @post.content

      .a-tags
        - @post.tags.each do |tag|
          %h2.a-tag.a-tag--post-tag= tag.name
