%footer
  %p
    WLC is organised and run by a group of volunteers ❤️
    %br
    If you'd like to sponsor us or organise a meetup with us, please
    = succeed '.' do
      = mail_to "people@westlondoncoders.com", "contact us"
