%footer
  %p
    WLC is organised and run by a
    = link_to 'group of volunteers.', organisers_path
    %br
    If you'd like to sponsor us or organise a meetup with us, please
    = succeed '.' do
      = mail_to "steve.v.brewer@gmail.com", "contact us"
