%header
  .m-navbar
    %h1.m-navbar__logo
      %a{href: root_path}
        %img{src: asset_path("logo.svg")}
        West London Coders
    .m-navbar__nav
      %h2
        %a{href: ""}
          %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
          Members
      %h2
        %a{href: posts_path}
          %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
          Blog
      %h2
        %a{href: ""}
          %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          Learn
      %h2
        %a{href: ""}
          %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
          Sign in
  .a-social-links--right
    .a-social-links
      %a{:href => "http://meetu.ps/c/2KPMg/wK6MK/f", :target => "_blank", title: "Meetup"}
        %i.fa.fa-meetup
      %a{:href => "https://westlondoncoders.herokuapp.com/", :target => "_blank", title: "Slack"}
        %i.fa.fa-slack
      %a{:href => "https://github.com/westlondoncoders", :target => "_blank", title: "GitHub"}
        %i.fa.fa-github
      %a{:href => "https://twitter.com/westlondoncode", :target => "_blank", title: "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "https://www.facebook.com/westlondoncoders", :target => "_blank", title: "Facebook"}
        %i.fa.fa-facebook-official
      %a{:href => "https://instagram.com/westlondoncoders", :target => "_blank", title: "Instagram"}
        %i.fa.fa-instagram
