%header
  = render partial: "layouts/navigation/mobile_nav"
  = render partial: "layouts/navigation/desktop_nav"
  .a-social-links--right
    .a-social-links
      %a{:href => "http://meetu.ps/c/2KPMg/wK6MK/f", :target => "_blank", title: "Meetup"}
        %i.fa.fa-meetup
      %a{:href => "https://westlondoncoders.herokuapp.com/", :target => "_blank", title: "Slack"}
        %i.fa.fa-slack
      %a{:href => "https://github.com/westlondoncoders", :target => "_blank", title: "GitHub"}
        %i.fa.fa-github
      %a{:href => "https://twitter.com/westlondoncode", :target => "_blank", title: "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "https://www.facebook.com/westlondoncoders", :target => "_blank", title: "Facebook"}
        %i.fa.fa-facebook-official
      %a{:href => "https://instagram.com/westlondoncoders", :target => "_blank", title: "Instagram"}
        %i.fa.fa-instagram
