// Content container for page-level sections
// =========================================

.a-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 10px 0;
}

.a-content--wide {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  @media #{$from-medium} {
    width: 67%;
  }
}

.a-content--xwide {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  @media #{$from-medium} {
    width: 90%;
  }
}

.a-content--tight {
  padding: 0;
}

.a-content--tight-bottom {
  padding-bottom: 0;
}

.a-content--tight-top {
  padding-top: 0;
}


.a-content--home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .m-grid__box {
    width: 100%;
  }

  .m-comments {
    margin-top: -10px;
  }

  .m-comment__content {
    margin-top: 0;
  }

  @media #{$from-medium} {
    flex-direction: row;
    justify-content: space-between;

    .m-grid {
      width: 66%;
    }

    .m-comments {
      margin-top: 40px;
      width: 30%;
    }
  }
}

.a-content-top {
  margin-top: 15px;
}

.a-content-top--spacious {
  @media #{$from-medium} {
    margin-top: 80px;
  }
}

.a-content-narrow {
  max-width: 30em;
}

.a-content--spacious-bottom {
  @media #{$from-medium} {
    margin-bottom: 50px;
  }
}
