.a-flash {
  width: 100%;
  position: fixed;
  top: 80px;
  transition: 1s;
}

.a-flash__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 2px $color-blue;
  background-color: $color-white;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
}

.a-flash__message {
  margin-right: 10px;
}
