.a-identities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;

  .a-identity {
    padding-bottom: 10px;
  }

  .a-identity:not(:last-child) {
    padding-right: 25px;
  }
}

.a-identity__collage {
  @include flex($direction: row, $justify-content: center, $flex-wrap: wrap);

  .a-identity__photo {
    margin: 0 5px 5px 0;
  }
}

.a-identity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.a-identity__photo {
  width: 44px;
  margin-right: 10px;

  img {
    display: block;
  }
}
