// Section
// =======

.a-section {
  overflow: hidden;
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.a-section--img {
  background: image-url("heroes/small/background.jpg");
  background-size: cover;

  @media #{$to-medium} {
    margin-top: -50px;
  }

  @media #{$from-small} {
    background: image-url("heroes/medium/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  @media #{$from-large} {
    background: image-url("heroes/large/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}
