// Section
// =======

.a-section {
  overflow: hidden;
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.a-section--img {
  background: image-url("heroes/small/background.jpg");
  background-size: cover;

  @media #{$from-small} {
    background: image-url("heroes/medium/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  @media #{$from-large} {
    background: image-url("heroes/large/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}

.a-section--img-people {
  background: image-url("heroes/small/members.jpg");
  background-size: cover;

  @media #{$from-small} {
    background: image-url("heroes/medium/members.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  @media #{$from-large} {
    background: image-url("heroes/large/members.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}

.a-section--img-block {
  background: image-url("heroes/small/background2.jpg");
  background-size: cover;
  height: 200px;

  @media #{$from-small} {
    height: 300px;
    background: image-url("heroes/medium/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  @media #{$from-large} {
    background: image-url("heroes/large/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}
