.a-step__step {
  @include flex($justify-content: flex-start);
  margin-bottom: 10px;
}

.a-step__number {
  height: 32px;
  width: 32px;
  border: solid 1px $color-border;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  padding-top: 3px;
}

.a-step__number--complete {
  background-color: $color-blue;
  color: $color-white;
  border: solid 1px $color-blue;
  &:hover {
    border: solid 1px $color-pink;
    background-color: $color-pink;
  }
}

.a-step__number--current {
  background-color: $color-pink;
  color: $color-white;
  border: solid 1px $color-pink;
}

.a-step__number--back {
  color: $color-blue;
  border: solid 1px $color-blue;
  &:hover {
  color: $color-pink;
  border: solid 1px $color-pink;
  }
}

.a-step__progress-list {
  @include flex($direction: row, $justify-content: flex-start);
  margin-top: 30px;
  margin-bottom: -10px;
}
