.a-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;

  a:not(:last-child) {
    margin-right: 20px;
  }
}

.a-tags--center {
  justify-content: center;
}

.a-tag {
  color: $color-white;
  font-weight: normal;
  padding: 10px 15px;
  transition: 1s;
  font-size: 20px;
  margin-bottom: 20px;

  &:visited,
  &:active {
    color: $color-white;
  }
}

.a-tag:not(:last-child) {
  margin-right: 20px;
}

.a-tag--light-blue {
  background: $color-light-blue;
  margin-right: 20px;
}

.links {
  text-align: center;
  margin-top: 20px;
}
