$tag-avatar-size: 49px;

.a-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;

  a:not(:last-child) {
    margin-right: 20px;
  }
}

.a-tags--center {
  justify-content: center;
}

.a-tag--with-face {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: flex-start;
  justify-content: flex-start;

  .a-tag {
    margin: 0;
  }

  .m-faces--team__face {
    border: 0;
  }
}

.m-faces--team__face {
  width: $tag-avatar-size;
  height: $tag-avatar-size;
  border: 2px solid transparent;
  img {
    width: $tag-avatar-size;
    height: $tag-avatar-size;
  }
}

.a-tag {
  color: $color-white;
  font-weight: normal;
  padding: 10px 15px;
  transition: 1s;
  font-size: 20px;

  &:visited,
  &:active {
    color: $color-white;
  }
}

.a-tag:not(:last-child) {
  margin-right: 20px;
}

.a-tag--with-face {
  flex-direction: row;
}

.a-tag--interest {
  background: $color-pink;
}

.a-tag--post-tag {
  background: $color-light-blue;
  margin-right: 20px;
}

.a-tag--remove {
  position: relative;
  text-transform: lowercase;
  top: -14px;
  right: -11px;
  color: $color-white;
  font-size: 17px;
  margin-left: -8px;
}

.a-tags--form {
  text-align: center;
  input {
    font-size: 2em;
    margin: 10px 10px 0 0;
  }
}

.links {
  text-align: center;
  margin-top: 20px;
}
