.m-navbar--desktop
  .m-navbar
    %h1.m-navbar__logo
      %a{href: root_path}
        %img{src: asset_path("logo.svg")}
        West London Coders
    .m-navbar__nav
      %h2
        %a{href: users_path}
          %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
          Members
      %h2
        %a{href: hackrooms_path}
          %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          Hackrooms
      %h2
        %a{href: posts_path}
          %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
          Posts
      %h2
        %a{href: meetups_path}
          %i.fa.fa-meetup{"aria-hidden" => "true"}
          Meetups
    - if current_user
      = render partial: 'layouts/navigation/user_nav', locals: {logged_in: true}
    - else
      = render partial: 'layouts/navigation/user_nav', locals: {logged_in: false}
