.m-navbar--desktop
  .m-navbar
    %h1.m-navbar__logo
      %a{href: root_path}
        %img{src: asset_path("logo.svg")}
        West London Coders
    .m-navbar__nav
      %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(users_path)), href: users_path}
        %h2
          %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
          People
      %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(languages_path)), href: languages_path}
        %h2
          %i.fa.fa-keyboard-o{"aria-hidden" => "true"}
          Languages
      %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(hackrooms_path)), href: hackrooms_path}
        %h2
          %i.fa.fa-wrench{"aria-hidden" => "true"}
          Hackrooms
      %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(posts_path)), href: posts_path}
        %h2
          %i.fa.fa-commenting-o{"aria-hidden" => "true"}
          Blog
      - if current_user&.has_role?(:organiser)
        %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(events_path)), href: events_path}
          %h2
            %i.fa.fa-group{"aria-hidden" => "true"}
            Meetups
      - else
        %a.m-navbar__item{class: ('m-navbar__item--is-selected' if current_page?(meetups_path)), href: meetups_path}
          %h2
            %i.fa.fa-meetup{"aria-hidden" => "true"}
            Meetups

    - if current_user
      = render partial: 'layouts/navigation/user_nav', locals: {logged_in: true}
    - else
      = render partial: 'layouts/navigation/user_nav', locals: {logged_in: false}
