.m-navbar--mobile
  .m-navbar
    .m-navbar--mobile-left
      %ul#m-dropdown
        %li.m-dropdown.m-dropdown--hover.js-menu
          %img{src: asset_path("logo.svg"), class: 'm-dropdown__trigger'}
          %ul.m-dropdown__submenu.m-dropdown__submenu--left.js-submenu
            %li
              %a{href: root_path}
                %i.fa.fa-home{"aria-hidden" => "true"}
                Home
            %li
              %a{href: meetups_path}
                %i.fa.fa-meetup{"aria-hidden" => "true"}
                Meetups
            %li
              %a{href: posts_path}
                %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
                Posts
            %li
              %a{href: users_path}
                %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
                Members
            %li
              %a{href: interests_path}
                %i.fa.fa-soccer-ball-o{"aria-hidden" => "true"}
                Interests
            %li
              %a{href: skills_path}
                %i.fa.fa-code{"aria-hidden" => "true"}
                Skills
            %li
              %a{href: learn_path}
                %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
                Learn

    .m-navbar--mobile-right
      - if current_user
        = render partial: 'layouts/navigation/user_nav', locals: {logged_in: true}
      - else
        = render partial: 'layouts/navigation/user_nav', locals: {logged_in: false}
